<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin panel</web-resource-name>
            <url-pattern>/admin</url-pattern>
            <url-pattern>/add-product.jsp</url-pattern>
            <url-pattern>/edit-product.jsp</url-pattern>
            <url-pattern>/admin-sidebar.jsp</url-pattern>
            <url-pattern>/admin-dashboard.jsp</url-pattern>
            <url-pattern>/orders-history.jsp</url-pattern>
                       
        </web-resource-collection>
        <auth-constraint>
            <role-name>manager-gui</role-name>
            <role-name>hotcoffee</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>DIGEST</auth-method>
        <realm-name>Admin Authentication</realm-name>
    </login-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>